.inputField {
  margin-left: 1%;
  width: 88%;
  border: none;
  outline: none;
}
.nameField {
  margin: auto;
  margin-left: 30px;
  font-weight: 600;
}
.downarrow_icon {
  margin-right: 3%;
  margin-top: 35px;
}
.profile_img {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #8c8a8a;
}
.description_TextField {
  overflow: visible;
  width: 100%;
}
.age_TextField,
.gender_TextField,
.country_TextField,
.description_TextField :focus {
  outline: none;
}

.dialoge-btns {
  border-radius: 5px !important;
  border: 1px solid gray !important;
  color: gray !important;
  width: 90px !important;
  height: 30px;
}
.dialoge-btns:hover {
  background-color: #ff5f1a; /* Change color on hover if desired */
  color: azure !important;
}
