.inputField {
  margin-left: 1%;
  width: 88%;
  border: none;
  outline: none;
}
.nameField {
  margin: auto;
  margin-left: 30px;
  font-weight: 600;
}
.downarrow_icon {
  margin-right: 3%;
  margin-top: 35px;
}
.profile_img {
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #8c8a8a;
}
.description_TextField {
  overflow: visible;
  width: 100%;
}
.age_TextField,
.gender_TextField,
.country_TextField,
.nameField,
.description_TextField :focus {
  outline: none;
}

.dialoge-btns.delete-btn {
  background-color: #ff5f1a;
  color: white;
  border: 1px solid #8c8a8a;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  transition: background-color 0.3s;
}

.dialoge-btns.cancel-btn {
  background-color: white;
  color: #8a8787;
  border: 1px solid #8c8a8a;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  transition: background-color 0.3s;
}

/* When hovering over the delete button, revert the cancel button */
.dialoge-btns.delete-btn:hover + .cancel-btn {
  background-color: #ffffff; /* Cancel button stays gray */
  color: #8a8787;
}

/* When hovering over the cancel button, revert the delete button */
.dialoge-btns.cancel-btn:hover ~ .delete-btn {
  background-color: #fffdfd; /* Change delete button to gray */
  color: #8a8787;
  border: "1px solid #8a8787";
}

/* When hovering over the cancel button, highlight it */
.dialoge-btns.cancel-btn:hover {
  background-color: #ff5f1a; /* Highlight the cancel button */
  color: white;
}

/* When hovering over the delete button, remove highlight from cancel */
.dialoge-btns.delete-btn:hover ~ .cancel-btn {
  background-color: #fffdfd; /* Revert cancel button to gray */
  color: #8a8787;
  border: "1.5px solid #8a8787";
}

/* When hovering over the delete button, keep it highlighted */
.dialoge-btns.delete-btn:hover {
  background-color: #ff5f1a; /* Keep delete button red */
}
